<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.typekit.net/zod2crj.css" />
    <link
      rel="stylesheet"
      href="https://webfonts.fontstand.com/WF-012738-30a37c9bdd1d4edab2fbd5dfde9ca72e.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/prism-theme.css" />
    <title>{{ title }}</title>
    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
  </head>
  <body>
    {% include "partials/site-head.html" %}
    <main>{% block content %}{% endblock %}</main>
    <footer>
      View this website's source code on
      <a href="https://github.com/tinykite/tinykitelab.com">GitHub</a> or
      <a class="email" href="mailto:dakota@tinykitelab.com">Say Hello</a>
    </footer>
  </body>
</html>
