<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.typekit.net/zod2crj.css" />
    <link
      rel="stylesheet"
      href="https://webfonts.fontstand.com/WF-012738-30a37c9bdd1d4edab2fbd5dfde9ca72e.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "partials/site-head.html" %}
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
