{% extends "layouts/base.html" %} {% block content %}
<div class="hero">
  <img class="hero__image" src="/images/dakotasexton-headshot.jpg" />
  <div>
    <h1 class="hero__title">{{headline}}</h1>
    <p class="hero__eyebrow">{{eyebrow}}</p>
    {{ content | safe }}
  </div>
</div>
<h2 class="grid__group-name">Creative Work</h2>

<ul class="grid">
  {% for item in collections.featuredPortfolio %}
  <li class="grid__item">
    <a href="{{ item.url }}" class="grid__imageLink">
      <img
        class="grid__image"
        src="{{ item.data.image }}"
        alt="{{ item.data.imageAlt }}"
      />
    </a>
    <a class="grid__title" href="{{item.url }}">{{ item.data.title }}</a>
    <p class="grid__description">
      An experiment in something or other for something something
    </p>
  </li>
  {% endfor %}
</ul>

<div class="supplemental-group">
  <article class="supplemental">
    <h2 class="supplemental__heading">Speaking</h2>
    <p class="supplemental__subheading">
      In 2019 I gave my first Javascript-focused lightning talk, at
      <a
        href="https://javascriptmn.com/"
        class="supplemental__link supplemental__link--inline"
        >Javascript MN.</a
      >
      Shortly afterwards a friend coaxed me into planning a much longer,
      hour-long talk at
      <a
        href="https://mplsjrdevs.com/"
        class="supplemental__link supplemental__link--inline"
        >Mpls Jr Devs</a
      >
      — again all about how to get a little bit weird with scroll-based
      animation. My slides for both talks are included below.
    </p>
    <ul class="supplemental__list">
      {% for item in talks.items %}
      <li class="supplemental__list-item">
        <a class="supplemental__link" href="{{ item.url }}">
          <span class="supplemental__label">{{item.title}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </article>
  <article class="supplemental">
    <h2 class="supplemental__heading">Writing</h2>
    <p class="supplemental__subheading">
      I love it when technical writing is personal and silly and more concerned
      with making others feel comfortable — and even hyped — rather than
      asserting the author as an authority.
    </p>
    <ul class="supplemental__list">
      {% for item in collections.featuredWriting %}
      <li class="supplemental__list-item">
        <a class="supplemental__link" href="{{ item.url }}">
          <span class="supplemental__label">{{ item.data.title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </article>
</div>
{% endblock %}
