{% extends "layouts/base.html" %} {% block content %}
<div class="wrapper">
  <article class="article">
    <h1 class="article__title">{{headline}}</h1>
    <p class="article__intro">{{subtitle}}</p>
    {{ content | safe }}
  </article>
  <h2>Personal Projects</h2>
  <section class="article-grid">
    {% for item in collections.featuredWork %}
    <article class="article-grid__item">
      <a href="{{ item.url }}" aria-label="See {{ item.data.title }}">
        <img
          src="{{ item.data.image }}"
          alt="{{ item.data.imageAlt }}"
          loading="lazy"
        />
      </a>
    </article>
    {% endfor %}
  </section>
  <h2>Speaking</h2>
  {% for item in talks.items %}
  <h4>{{item.title}}</h4>
  <p><em>{{item.description }}</em></p>
  <a href="{{ item.url }}" aria-label="See {{ item.url_label }}">
    View Slides</a
  >
  {% endfor %}
  <h2>Writing</h2>
  {% for item in collections.featuredWriting %}
  <a
    class="article__link"
    href="{{ item.url }}"
    aria-label="See {{ item.data.title }}"
  >
    <h3>{{ item.data.title }}</h3>
  </a>
  <p><em>{{ item.data.description }}</em></p>
  {% endfor %}
  <a
    class="article__link"
    href="{{ item.url }}"
    aria-label="See {{ item.data.title }}"
    >Read More</a
  >
</div>
{% endblock %}
