{% extends "layouts/base.html" %} {% block content %}
<article class="article">
  <h1 class="article__title article__title--emphasis">{{ title }}</h1>
  {% if summary %}
  <p class="article__desc">{{ summary }}</p>
  {% endif %} {% if image and not collection %}<img
    class="article__image article__image--lead"
    src="/{{ image }}"
  />{% endif %}

  {{ content | replace("<p><img", "<figure><img") | replace("></p>", "></figure>") | safe }}
  
  <a href="/" class="article__button">Return</a>
</article>
{% endblock %}
