{% extends "layouts/base.html" %} {% block content %}
<article class="article article--longform">
  <h1 class="article__title">{{ title }}</h1>
  <time class="article__date" datetime="{{ date | w3DateFilter }}"
    >{{ date | dateFilter }}</time
  >
  {% if image %}<img
    class="article__image article__image--lead"
    src="/{{ image }}"
  />{% endif %}
  <div>
    <p class="article__body">{{ content | safe }}</p>
  </div>
  <a href="/"><div class="article__button">Return</div></a>
</article>
{% endblock %}
