.supplemental-group {
  display: grid;
  column-gap: 4rem;

  @media (min-width: 43.75rem) {
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 62.5rem) {
    margin-top: 6.25rem;
  }
}

.supplemental {
  &__heading {
    font-size: 2rem;
    @media (min-width: 43.75rem) {
      font-size: 2.25rem;
      margin: 0;
    }
  }

  &__subheading {
    margin: 1rem 0 0 0;
    font-size: 1rem;
    color: var(--c-primaryText);
  }

  &__label {
    font-size: 1rem;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;

    &:hover {
      background: none;
      text-decoration: underline;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    border-bottom: 1px solid var(--c-tertiaryText);
    padding: 1rem 0;
    margin: 0;
    line-height: 1;
  }
}
