.supplemental-group {
  display: grid;
  column-gap: 4rem;
  margin-top: 6.25rem;

  @media (min-width: 43.75rem) {
    grid-template-columns: 1fr 1fr;
  }
}

.supplemental {
  &__heading {
    font-size: 2.25rem;

    @media (min-width: 43.75rem) {
      margin: 0;
    }
  }

  &__subheading {
    margin: 1rem 0 0 0;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
  }

  &__label {
    font-size: 1rem;
  }

  &__list {
    list-style: none;
    margin: 2rem 0 0 0;
    padding: 0;
  }
}
