.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  flex-direction: column;
  width: 85%;
  max-width: 65rem;
  margin: 3.125rem auto 0;

  @media (min-width: 50rem) {
    flex-direction: row;
  }

  [data-state="active"],
  [aria-current="page"] {
    color: var(--c-primaryText);
    text-decoration: none;
    padding: 0 0 1px;
    border-bottom: 2px solid var(--c-secondaryText);
  }

  &__nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__nav-link {
    color: var(--c-primaryText);
    text-decoration: none;
    font-size: 1.125rem;

    &:hover {
      border-bottom: 2px solid var(--c-secondaryText);
      background: none;
    }
  }

  &__nav-item {
    margin-top: 0rem;
    & + & {
      margin-left: 1rem;
    }
  }

  &__logo {
    display: block;
    height: 3rem;
    width: auto;
    transition: all 1s;
    transition-delay: 100ms;
    &:hover {
      opacity: 0.8;
      transform: translateY(-3px) translateX(-3px);
    }
  }
}
