.hero {
  display: grid;
  align-items: start;
  grid-template-columns: 275px 1fr;
  grid-column-gap: 3rem;
  margin: 6.25rem 0;
}

.hero__title {
  font-size: 6.25rem;
  font-weight: normal;
  line-height: 1.125;
  margin: 0;
  font-family: "Canela Web";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.hero__eyebrow {
  font-size: 2rem;
  line-height: 1.25;
  font-family: "Canela Deck Web";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  margin-top: 0;
}

.hero p:not(:first-of-type) {
  width: 85%;
}

.hero__image {
  border-radius: 100%;
  margin-top: 1.125rem;
}
