.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  margin-top: 1.5rem;

  @media (min-width: 31.25rem) {
    grid-template-columns: 1fr 1fr;
  }
}

.grid__group-name {
  margin-top: 3rem;
  font-size: 2.25rem;
}

.grid__link {
  position: relative;
  display: block;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    .grid__details {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%);
    }

    &::after {
      opacity: 0.7;
    }
  }
}

.grid__title {
  margin: 1.25rem 0 0 0;
}

.grid__description {
  margin: 0.25rem 0 0 0;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.grid__image {
  grid-column: 1;
}

.grid__link::after,
.grid__image {
  transition: opacity 0.3s;
}
