.article {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  margin-top: 3rem;

  a,
  a:visited,
  a:hover,
  a:active {
    background: none;
  }
}

.articleList:first-child {
  margin-top: 3rem;
}

.articleList {
  width: 55ch;
  margin: 0 auto;

  time {
    margin: 0;
    font-family: monospace;
  }

  p {
    margin-top: 0.5rem;
  }

  h2 {
    margin: 0.25rem 0 0 0;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.articleList + * {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #ccc;
}

.article__title {
  font-size: 2rem;
}

.article__title--emphasis {
  text-align: center;
  font-size: 3rem;
}

.article__desc {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.75rem;
}

.article__date {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.25rem;
  font-family: monospace;
  margin-top: 0.5rem;
}

.article > * {
  grid-column: 2;
}

.article img,
.article figure {
  grid-column: 1 / -1;
}

.article__image--lead {
  margin-top: 3rem;
}

.article__button {
  background: var(--c-inverseBackground);
  color: var(--c-inverseText);
  width: fit-content;
  padding: 1rem 3rem;
  font-family: monospace;
  text-decoration: none;
  margin-top: 3rem;
  border: 3px solid var(--c-inverseText);
  font-size: 1.125rem;

  &:hover {
    background: var(--c-primaryBackground);
    color: var(--c-primaryText);
    border: 3px solid var(--c-primaryText);
    text-decoration: none;
  }
}
