.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  flex-direction: column;
  width: 85%;
  max-width: 65rem;
  margin: 2rem auto 0;

  @media (min-width: 50rem) {
    flex-direction: row;
    margin: 5rem auto 0;
  }

  [data-state="active"],
  [aria-current="page"] {
    color: var(--c-primaryText);
    text-decoration: none;
    padding: 0 0 1px;
    border-bottom: 1px solid var(--c-secondaryText);
  }

  &__nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 1rem;

    @media (min-width: 50rem) {
      margin: 0;
    }
  }

  &__nav-link {
    color: var(--c-primaryText);
    text-decoration: none;
    font-size: 1rem;

    @media (min-width: 50rem) {
      font-size: 1.5rem;
    }

    &:hover {
      border-bottom: 1px solid var(--c-secondaryText);
      background: none;
    }
  }

  &__nav-item {
    margin-top: 0rem;
    & + & {
      margin-left: 1rem;
    }
  }

  &__logo {
    display: block;
    height: 3.875rem;
    width: auto;
    &:hover {
      background: none;
    }
  }
}
