.hero {
  display: grid;
  align-items: start;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 3rem;
  margin: 6.25rem 0;
}

.hero__title {
  font-size: 6.25rem;
  font-weight: normal;
}

.hero__eyebrow {
  font-family: "Canela Text Regular", serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.25;
}

.hero p:not(:first-of-type) {
  width: 80%;
  margin-top: 2rem;
}

.hero__image {
  border-radius: 100%;
}
