.animation {
  width: 80%;
  display: block;
  padding: 2rem 0;
}

.fluid-video-loom {
  position: relative;
  padding-bottom: 63.49206349206349%;
  height: 0;
  margin-bottom: 1rem;
}

.fluid-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 1rem;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
