.article {
  display: grid;
  grid-template-columns: 1fr min(70ch, 100%) 1fr;
  margin-top: 1.5rem;

  @media (min-width: 43.75rem) {
    margin-top: 3rem;
  }
}

.articleList:first-child {
  margin-top: 1.5rem;

  @media (min-width: 43.75rem) {
    margin-top: 3rem;
  }

  h2 {
    font-size: 1.75rem;

    @media (min-width: 43.75rem) {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1rem;

    @media (min-width: 43.75rem) {
      font-size: 1.5rem;
    }
  }
}

.articleList {
  margin: 0 auto;

  @media (min-width: 43.75rem) {
    width: 70ch;
  }

  time {
    margin: 0;
    font-family: monospace;
  }

  p {
    margin-top: 0.5rem;
  }

  h2 {
    margin: 0.25rem 0 0 0;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.articleList + * {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #ccc;
}

.article__title {
  font-size: 2rem;

  @media (min-width: 43.75rem) {
    font-size: 2.5rem;
  }
}

.article__title--emphasis {
  font-family: "Canela Web";
  text-align: center;
  font-size: 2rem;

  @media (min-width: 43.75rem) {
    font-size: 4rem;
  }
}

.article__desc {
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: center;
  margin-top: 1rem;
  font-family: "Canela Deck Web";
  font-weight: 300;

  @media (min-width: 43.75rem) {
    font-size: 1.5rem;
  }
}

.article__date {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.6);
  font-family: monospace;
  margin-top: 0.5rem;
}

.article > * {
  grid-column: 2;
}

.article img,
.article figure {
  grid-column: 1 / -1;
}

.article__image--lead {
  margin-top: 2rem;

  @media (min-width: 43.75rem) {
    margin-top: 3rem;
  }
}

.article__button {
  display: block;
  background: var(--c-inverseBackground);
  width: fit-content;
  padding: 1rem 3rem;
  font-family: monospace;
  text-decoration: none;
  margin-top: 3rem;
  border: 3px solid var(--c-inverseText);
  font-size: 1.125rem;

  &:link,
  &:visited,
  &:active,
  &:active {
    color: white;
  }

  &:hover {
    background: var(--c-primaryBackground);
    color: var(--c-primaryText);
    border: 3px solid var(--c-primaryText);
  }
}
