@font-face {
  font-family: "Canela Web";
  src: url("/fonts/Canela-Regular-Web.woff2") format("woff2"),
    url("/fonts/Canela-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Canela Deck Web";
  src: url("/fonts/CanelaDeck-Regular-Web.woff2") format("woff2"),
    url("/fonts/CanelaDeck-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Canela Deck Web";
  src: url("/fonts/CanelaDeck-Light-Web.woff2") format("woff2"),
    url("/fonts/CanelaDeck-Light-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

body {
  font-family: "freight-text-pro", serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

a,
a:visited,
a:active {
  color: inherit;
}

a:hover {
  background-color: rgba(255, 198, 171, 0.75);
}

p,
ul,
ol,
pre {
  font-size: 1rem;
  line-height: 1.5;

  @media (min-width: 31.25rem) {
    font-size: 1.25rem;
  }
}

nav,
h1,
h2,
h3 {
  font-family: "Canela Deck Web", serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.125;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h2,
figure,
img + p {
  margin-top: 2.125rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

ol {
  padding-left: 1rem;
}

ul {
  padding-left: 1rem;
}

p,
ul,
ol {
  margin-top: 1rem;
}

li {
  margin-top: 0.25rem;
}
