p {
  margin-top: 0.75em;
}

p,
ul,
ol,
pre {
  font-size: 1rem;
  line-height: 1.5;

  @media (min-width: 31.25rem) {
    font-size: 1.25rem;
  }
}

h2 {
  font-family: freight-neo-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

ol {
  padding-left: 1rem;
}
