.u-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.u-half {
  width: 50%;
  margin: 0 auto;
}

.u-center {
  text-align: center;
}
