<!-- <a href="#main-content">Skip to content</a> -->
<header class="site-header">
      <nav class="site-nav">
        <a href="/"  aria-label="{{ site.name }} - work" class="site-nav__logo"><img class="site-nav__logo" src="/images/logo-large.png" alt="Tiny Kite Logo"></a>
        <ul class="site-nav__nav-list">
          {% for item in navigation.items %}
          <li class="site-nav__nav-item">
            <a
              class="site-nav__nav-link"
              href="{{ item.url }}"
              {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
              }}
              >{{ item.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>